* {

  list-style-type: none;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#F3E9DC;


  ul {
    display: flex;
    gap: 100px;
    color: rgb(15, 15, 15);
  }

  a {
    text-decoration: none;
  
    color: inherit;
  }

}




/* #element {
  padding: auto;
  margin: auto;
} */

img {
  width: 350px;
  display: flex;
  display: inline-block;
}