* {
  list-style-type: none;
background-color:  #F5F1EB;
}
h2{
 color: #5A3A1E;

}
h1{
  color: #5A3A1E;
  font-family: "Playfair Display", serif;
}
p{
  color: #2E2E2E;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#F3E9DC;


  ul {
    display: flex;
    gap: 100px;
    color: rgb(15, 15, 15);
  }

  a {
    text-decoration: none;
  
    color: inherit;
  }


}

#btn{
  height: auto;
  color: #C28E3D;
 font-family: "Roboto", sans-serif;
border-radius: 10px;
 
}
#hero{
  display: flex;
  justify-content: center;
  
}

.button{
  color: #C28E3D;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

img {
  width: 350px;
  display: flex;
  display: inline-block;
}