* {
  /* margin: 0%; */
  list-style-type: none;
  gap: 20px;

}
h2{
 color: #5A3A1E;

}
h1{
  color: #5A3A1E;
  font-family: "Playfair Display", serif;
}
p{
  color: #2E2E2E;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#F3E9DC;


  ul {
    display: flex;
    gap: 100px;
    color: rgb(15, 15, 15);
  }

  a {
    text-decoration: none;
  
    color: inherit;
  }


}

#btn{
  height: auto;
  color: #C28E3D;
 font-family: "Roboto", sans-serif;
border-radius: 5px;
 
}
#hero{
  display: flex;
  justify-content: center;
  background-color: #F5F1EB;

  
}

.button{
  color: #C28E3D;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}


  img {
  width: 300px;
  height:300px ;
  display: flex;
  display: inline-block;
}
#container{
  display: flex;
  gap: 20px;
}


p{
width: 200px;
height: auto;
}
#avis{
  display: flex;
  width: auto;
   background-color:#F3E9DC;
  
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
