* {

  list-style-type: none;
  margin: 0;




}

h2 {
  text-align: center;
  color: #5A3A1E;
  font-family: "Playfair Display", serif;
  padding: 50px 0;

}

h1 {
  color: #5A3A1E;
  font-family: "Playfair Display", serif;
  padding: 50px 0;
}



main {
  section {
    width: 900px;
    margin: auto;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3E9DC;


  ul {
    display: flex;
    gap: 100px;
    color: #2E2E2E;
  }

  a {
    text-decoration: none;

    color: inherit;
  }


}

#btn {
  height: auto;
  color: #C28E3D;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: solid 2px;

}

#hero {
  display: flex;
  justify-content: center;
  background-color: #F5F1EB;
  padding: 100px;

}

.button {
  color: #C28E3D;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: solid 2px;
  padding: 9px 0;
}


img {
  width: 100%;
  height: 250px;
  display: flex;
  display: inline-block;

}

#container {
  background-color: #F5F1EB;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;

  div {
    width: 30%;
  }

}




#avis {
  color: #2E2E2E;

  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  div {
    width: 30%;
    background-color: #F3E9DC;
    padding: 40px;
    color: #2E2E2E;

  }

}


footer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: #F3E9DC;

  padding: 30px;
  color: #2E2E2E;


  p {
    width: 330px;
    height: auto;
    color: #2E2E2E;
  }

}